.slider {
  width: 100%;
  height: 35vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 1em;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: #3f51b5;
  color: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.sliderImg {
  position: absolute;
  max-width: 100%;
  padding: 2em 4em;
}
